- name: Evaluate Namespace eventing-demo
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    api_version: v1
    kind: Namespace
    name: eventing-demo
    state: present

- name: Evaluate Sources
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('template', item) }}"
  register: _serving
  retries: 1
  delay: 10
  until: not _serving.failed
  loop:
    - 2.1-topic-broker.yml.j2
    - 2.2-topic-external.yml.j2
    - 5-broker-source.yml.j2

- name: Evaluate broker-demo Manisfests
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('file', item) }}"
    namespace: "{{ eventing_ns }}"
  register: _serving
  retries: 1
  delay: 10
  until: not _serving.failed
  loop:
    - 3-eventing-broker.yml
    - kafka-source-trigger.yml
    - ping-trigger.yml

- name: Get kn Service
  kubernetes.core.k8s_info:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    kind: Service
    name: kafka-display
    namespace: '{{ eventing_ns }}'
    api_version: serving.knative.dev/v1
  register: demo_broker_r_service

- name: Create kn Services
  when: demo_broker_r_service.resources | length == 0
  block:
    - name: Log in as super user with token on OpenShift 4
      ansible.builtin.command: "oc login --token={{ token }}  --server={{ server }} --insecure-skip-tls-verify={{ insecure_skip_tls_verify }}"
      when:
        - token is defined
        - token is not none
        - token|trim() != ""
      ignore_errors: false
      register: my_output
      changed_when: my_output.rc != 0

    - name: Create Services
      ansible.builtin.command: |
          kn service create {{ item }} --image quay.io/openshift-knative/knative-eventing-sources-event-display
          --label app.kubernetes.io/part-of=broker-demo -n eventing-demo
      loop:
        - kafka-display
        - ping-display
      register: my_output
      changed_when: my_output.rc != 0
