- name: Evaluate Operator Group
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    state: present
    api_version: operators.coreos.com/v1
    kind: OperatorGroup
    definition:
      metadata:
        name: '{{ kafka_ns }}-group'
        namespace: '{{ kafka_ns }}'
      spec:
        targetNamespaces:
          - '{{ kafka_ns }}'

- name: Evaluate AMQ Streams Operator
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    state: present
    kind: Subscription
    api_version: operators.coreos.com/v1alpha1
    definition:
      metadata:
        name: amq-streams
        namespace: '{{ kafka_ns }}'
      spec:
        channel: '{{ kafka_operator_channel }}'
        installPlanApproval: Automatic
        name: amq-streams
        source: redhat-operators
        sourceNamespace: openshift-marketplace

- name: Wait for AMQ Streams operator to be running
  kubernetes.core.k8s_info:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    api_version: v1
    kind: Pod
    namespace: '{{ kafka_ns }}'
    label_selectors:
      - rht.comp=AMQ_Streams
      - rht.subcomp=cluster-operator
    field_selectors:
      - status.phase=Running
  register: kafka_r_pod
  retries: 10
  delay: 10
  until: kafka_r_pod.resources | list | length == 1

- name: Evaluate Cluster ConfigMap
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    state: present
    namespace: '{{ kafka_ns }}'
    resource_definition: "{{ lookup('file', 'metrics-cm.yml') }}"

- name: Evaluate Cluster Instance
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    state: present
    namespace: '{{ kafka_ns }}'
    resource_definition: "{{ lookup('template', 'cluster.yml.j2') }}"

- name: Wait for AMQ Streams cluster to be running
  kubernetes.core.k8s_info:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    api_version: v1
    kind: Pod
    namespace: '{{ kafka_ns }}'
    field_selectors:
      - status.phase=Running
    label_selectors:
      - strimzi.io/component-type=kafka-exporter
  register: kafka_r_pod
  retries: 20
  delay: 10
  until: kafka_r_pod.resources | list | length == 1
