apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: {{ kafka_cluster_name }}
  name: knative.kafka.broker.demo
  namespace: {{ kafka_ns }}
spec:
  config: {}
  partitions: 1
  replicas: 3
  topicName: knative.kafka.broker.demo