- name: Install Serverless Demo
  hosts: localhost
  vars:
    delete_demo: false
    verify_tls: false
    insecure_skip_tls_verify: true
    kafka_ns: amq-streams
    eventing_ns: eventing-demo
    functions_ns: functions-demo
    kafka_cluster_name: my-cluster
  tasks:
    - name: Check Required Parameters
      ansible.builtin.fail:
        msg: "This play requires 'server' and 'token' to be defined"
      when:
        - (server is undefined) or (token is undefined) or (server is none) or (token is none)
      ignore_errors: false

    - name: Set domain
      ansible.builtin.set_fact:
        domain: "{{ server | regex_replace('https://api.') | regex_replace(':6443') }}"

    - name: Set Subdomain
      ansible.builtin.set_fact:
        route_subdomain: "apps.{{ domain }}"

    - name: Evaluate Namespaces
      loop:
        - "{{ kafka_ns }}"
        - "{{ eventing_ns }}"
        - "{{ functions_ns }}"
      kubernetes.core.k8s:
        api_key: '{{ token }}'
        host: '{{ server }}'
        validate_certs: false
        api_version: v1
        kind: Namespace
        name: '{{ item }}'
        state: present

    # - name: Include Tekton
    #   ansible.builtin.include_role:
    #     name: tekton

    - name: Include Kafka
      ansible.builtin.include_role:
        name: kafka

    - name: Include Knative
      ansible.builtin.include_role:
        name: knative

    - name: Include broker-demo
      ansible.builtin.include_role:
        name: demo-broker

    - name: Include channel-demo
      ansible.builtin.include_role:
        name: demo-channel
