- name: Evaluate openshift-serverless Namespace
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    kind: Project
    api_version: project.openshift.io/v1
    definition:
      metadata:
        name: 'openshift-serverless'

- name: Evaluate Operator Group
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    api_version: operators.coreos.com/v1
    kind: OperatorGroup
    definition:
      metadata:
        name: 'openshift-serverless-operatorgroup'
        namespace: 'openshift-serverless'

- name: Evaluate Serverless Subscription
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    api_version: operators.coreos.com/v1alpha1
    kind: Subscription
    definition:
      metadata:
        name: serverless-operator
        namespace: openshift-serverless
      spec:
        channel: stable-1.36
        installPlanApproval: Automatic
        name: serverless-operator
        source: redhat-operators
        sourceNamespace: openshift-marketplace

- name: Wait Serverless Operator To Be Running
  kubernetes.core.k8s_info:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    api_version: v1
    kind: Pod
    namespace: openshift-serverless
    label_selectors:
      - name = knative-operator
    field_selectors:
      - status.phase=Running
  register: knative_r_pod
  retries: 120
  delay: 10
  until: knative_r_pod.resources | list | length == 1

- name: Evaluate KnativeEventing
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    api_version: operator.knative.dev/v1beta1
    kind: KnativeEventing
    definition:
      metadata:
        name: knative-eventing
        namespace: knative-eventing
      spec: {}
  register: knative_r_eventing
  retries: 10
  delay: 10
  until: not knative_r_eventing.failed

- name: Evaluate KnativeServing
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('file', 'knative-serving.yml') }}"
  register: knative_r_serving
  retries: 10
  delay: 10
  until: not knative_r_serving.failed

- name: Evaluate KnativeKafka
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('template', 'knative-kafka.yml.j2') }}"
  register: knative_r_serving
  retries: 10
  delay: 10
  until: not knative_r_serving.failed
